@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbarBG: #888;
  --scrollbarBGHover: rgb(120, 120, 120);
  --thumbBG: #888;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarBG) var(--thumbBG);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarBG);
  border-radius: 2px;
  border: 0px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbarBGHover);
}
